--index-strategy unsafe-best-match
--extra-index-url https://download.pytorch.org/whl/cpu/
streamlit==1.32.0
llama-index
llama-index-embeddings-huggingface
llama-index-llms-groq
transformers
torch
librosa
soundfile
numpy
